//colors 
$bg-light-green: rgba(151, 246, 186, 0.24);
$bg-dark-green: rgba(151, 246, 186, 0.62);
$text-green: rgba(33, 158, 76, 0.62);
$text-blue: rgb(36, 158, 220);
$bg-dark-blue: rgb(82, 185, 236);
$bg-light-blue: rgba(91, 192, 198, 0.53);
$text-brown: rgba(134, 134, 134, 1);
$text-dark-brown: rgb(151, 150, 150);
$text-darker-brown: rgb(95, 94, 94);
$link-blue: rgb(0, 162, 255);

//fonts
$cursive: cursive;
$font: 'Courier New', Courier, monospace;

