@import '../../themes/variables';

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 2rem;
    background-color: white;

    img {
        height: 3.5rem;
        width: 3.5rem;
    }

    .NavBtns {
        display: flex;
        gap: 1rem;
    }

    button {
        padding: .75rem 2.5rem;
        border-radius: 2rem;
        border-style: none;
        background-color: $bg-light-green;
        color: $text-dark-brown;
        font-weight: bolder;
        cursor: pointer;
        transition: all 0.75s;
        font-family: $cursive;

        &:hover {
            background-color: $bg-dark-green;
        }
    }
}
